<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    test123
-->
<html>
	<head>
		<title>Website Layout I Used for the CS290 How-To Assignment</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="index.html">Website Layout I Used for the CS290 How-To Assignment <span>by Kevin Lewis</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li>This</li>
					<li>Doesn't</li>
					<li>Do</li>
                    <li>Anything</li>
				</ul>
			</nav>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper">
						<div class="inner">
							<header class="align-center">
								<h2>OAuth2.0 Assignment</h2>
							</header>
							<h3>Make the Website Complicated Enough</h3>
								<p>We need to ensure the website is complicated enough that Google won't think we are a fraud. So let's Lorem Ipsum this thing!!
                                </p>
                           <h3>Ignore Everything Below Here</h3>
                                    <p><b>https://api.nal.usda.gov/ndb/search/?format=json&q=butter&sort=r&max=5&offset=0&api_key=INSERTKEY</b>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
											ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
											laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
											voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
											non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    <div class="table-wrapper">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Required</th>
                                                    <th>Default</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>api_key</td>
                                                    <td>yes</td>
                                                    <td>N/A</td>
                                                    <td>data.gov registerd API key</td>
                                                </tr>
                                                <tr>
                                                    <td>q</td>
                                                    <td>no</td>
                                                    <td>""</td>
                                                    <td>Search Keyword(s)</td>
                                                </tr>
                                                <tr>
                                                    <td>ds</td>
                                                    <td>no</td>
                                                    <td>""</td>
                                                    <td>Data Source. Either 'Branded Food Products' or 'Standard Reference'</td>
                                                </tr>
                                                <tr>
                                                    <td>fg</td>
                                                    <td>no</td>
                                                    <td>N/A</td>
                                                    <td>Food group ID</td>
                                                </tr>
                                                <tr>
                                                    <td>sort</td>
                                                    <td>no</td>
                                                    <td>r</td>
                                                    <td>Sort the results by food name (n) or by search relevance (r)</td>
                                                </tr>
                                                <tr>
                                                    <td>max</td>
                                                    <td>no</td>
                                                    <td>50</td>
                                                    <td>maximum rows to return</td>
                                                </tr>
                                                <tr>
                                                    <td>offset</td>
                                                    <td>no</td>
                                                    <td>0</td>
                                                    <td>beginning row in the result set to begin</td>
                                                </tr>
                                                <tr>
                                                    <td>format</td>
                                                    <td>no</td>
                                                    <td>JSON</td>
                                                    <td>results format: json or xml</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p>
                                        For the purposes of the search function we are only going to use the q, sort, max, offset, and format parameters. We will use the relevance sort type and JSON format for this guide.
                                    </p>
                            <h3>Ignore This</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
										ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
										laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
										voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
										non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
					</section>

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<header class="align-center">
								<h2>It's the End</h2>
								<p>This doesn't do anything</p>
							</header>
							<div class="flex flex-3">
								<div class="col align-center">
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/search.jpeg" alt="" />
									</div>
								</div>
								<div class="col align-center">
								</div>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->


		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
            <script src="assets/js/search.js"></script>
	</body>
</html>